.App {
    text-align: center;
    height: 100vh;
    background-color: #4c6ef5
}

h1 {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 2.5rem;
  padding: 15%;
}

h2 {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 2.5rem;
  padding: 15%;
}

ul {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 1.6rem;
  list-style-type: none;
  margin: 0;
  padding: 0;

  
}

p {
  text-align: left;
}

.row{
  display: flex;
}

.row-top {
  height: 35%;
}
.row-bottom {
  height: 65%;
}

.column {
  flex: 50%;
}

.list-col-txt {
  flex: 80%;
}

.list-col-btns {
  flex: 20%;
  text-align: right;
  padding-right: 1rem;
}

.left {
  background-color: white;
}

.done {
  text-decoration: line-through;
}

.list-btn {
  font-size: 1rem;
  padding: 0.1rem 0.4rem;
  border-radius: 50%;
  border-style: solid;
  border-color: black;
  margin-bottom: 6%;
}

.done-btn {
  color: green;
}

.delete-btn {
  color: red;
  margin-left: 0.3rem;
}

.add-btn {
  border-radius: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  padding: 4px 16px;
  font-size: 1rem;
  color: white;
  background-color: #4c6ef5;

}

.txt-box {
  font-size: 1.2rem;
  padding: 2px;
  margin-top: 1rem;
  margin-right: 1rem;
  border-radius: 15px;
  border: solid rgb(24, 24, 24) 2px
}
