.App {
    text-align: center;
  ;
  background-color: aqua;
}

.done {
  text-decoration: line-through;
}

.list-btn {
  font-size: 1rem;
  padding: 0.5rem 0.7rem;
  border-radius: 1rem;
  border-style: solid;
  border-color: grey;
  margin: 0rem 0.2rem;
}

.done-btn {
  color: green;
}

.delete-btn {
  color: red;
}